* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/*--------------------/Top Section------------------------*/

#topSection {
    height: 1050px;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('../images/backgrounds/h_img.jpg');
}

#topSection #image1 {
    margin-left: 47%;
    margin-top: 320px
}

#topSection #image2 {
    margin-top: 270px;
}

#topSection .contents {
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
    font-family: 'Times New Roman', Times, serif;
}

#topSection .contents h1 {
    font-size: 50px;
    color: #FEFAFF;
    font-family: 'Times New Roman', Times, serif;
}


/*--------------------/Top Section------------------------*/

/*--------------------About------------------------*/

.about {
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.about h1 {
    font-family: 'Times New Roman', Times, serif;
}


/*--------------------/About------------------------*/
/*--------------------Services------------------------*/

.services {
    margin-top: 50px;
    height: 400px;
    background-image: url("../images/backgrounds/s_image.jpg");
}

.services #text {
    padding-top: 80px;
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}


/*--------------------/Services------------------------*/